body {
    margin-top: 50px;
    max-width: 600px;
    margin: 30px auto;
    font-family: "Combo", cursive;
    font-family: "Ms Madi", cursive;
    text-align: center;
    background: linear-gradient(57.4deg,
            rgb(249, 206, 183) 4.6%,
            rgb(234, 174, 202) 26%,
            rgb(210, 182, 226) 49.1%,
            rgb(173, 209, 242) 86.5%);
}

.weather-size {
    font-size: 100px;
}

h1 h2 {
    font-size: 50px;
    display: block;
    text-align: center;
    padding: 50px;
    margin-top: 50px;
}

.units {
    color: black;
    text-decoration: none;
}

.input-bar {
    border-radius: 30px;
    border-color: #dab2d9;
    border-width: 5px;
}

.card-group {
    padding: 20px 100px 50px 100px;
    margin-top: 5px auto;
}